[user]
	email = peter@arbitrary.ch
	name = Peter Gerber
	signingkey = 95100E6E3C68DA469DFA9C127C704AEABC3E0CAD
[transfer]
	fsckObject = true
[log]
	decorate = auto
[gpg]
	# program = qubes-gpg-client-wrapper
[alias]
    # verify signed tag
    vtag = !git tag -v `git describe`
